@font-face {
    font-family: 'Mehr';
    src: url('/fonts/Mehr_Nastaliq.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jameel Noori Nastaliq';
    src: url('/fonts/Jameel Noori Nastaleeq.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
  